@page
@model ToDoList.Web.Pages.TodoList.CreateModalModel
@{
    ViewData["Title"] = "CreateModal";
}
<abp-card>
    <abp-card-header class="text-center">
        <h2>Add Details</h2>
    </abp-card-header>
    <abp-card-body>
        <input type="hidden" name="todoListItem.TodoListId" />
        <div class="input-area">
            <div>
                <div class="form-group">
                    <label for="todoListItem_Tittle">Tittle</label><input type="text" id="todoListItem_Tittle" name="todoListItem.Tittle" value="" class="form-control " /><span class="text-danger field-validation-valid" data-valmsg-for="todoListItem.Tittle" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="todoListItem_Description">Description</label><input type="text" id="todoListItem_Description" name="todoListItem.Description" value="" class="form-control " /><span class="text-danger field-validation-valid" data-valmsg-for="todoListItem.Description" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="form">
            <input type="submit" class="btn btn-primary" value="Submit" />
        </div>
    </abp-card-body>
</abp-card>
