@page
@model ToDoList.Web.Pages.TodoList.IndexModel
@{
    ViewData["Title"] = "Index";
}

@section scripts
{
    <abp-script src="/Pages/TodoList/Index.js" />
}
<abp-card>
    <abp-card-header>
        <h2>List Of All Your ToDo List</h2>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="TodoListTable"></abp-table>
    </abp-card-body>
</abp-card>

